@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 1px;
  z-index: 100
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1285px) {
  .hideProfile {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .fullWidth{
      width: 100%;
  }
}
